[package]
name = "bonfida-utils"
version = "0.6.2"
authors = ["ellttBen <elliott@bonfida.com>"]
description = "Various solana program writing utilities in use by Bonfida."
license = "MIT"
edition = "2018"
repository = "https://github.com/Bonfida/bonfida-utils.git"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
mock-oracle = []
benchmarking = ["lazy_static", "regex", "serde", "serde_json"]

[dependencies]
borsh = "0.10.3"
solana-program = "1.18.11"
pyth-sdk-solana = "0.4.2"
bonfida-macros = {version = "0.6.2", path = "../macros"}
bytemuck = "1.9.1"
lazy_static = {version = "1.4.0", optional=true}
regex = {version = "1.5.5", optional=true}
serde = {version = "1.0.136", features=["derive"], optional=true}
serde_json = {version = "1.0.79",  optional=true}
spl-token = {version = "=4.0.0", features = ["no-entrypoint"]}
pyth-solana-receiver-sdk = "0.3.0"

[dev-dependencies]
solana-client = "1.9"
hex = "0.4.3"
rand = "0.8.5"
